torch==1.7.1
pandas==1.1.1
numpy==1.20.3
scikit-learn==0.24.1
transformers==4.4.2
nltk==3.4.5
gensim==4.0.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
tqdm==4.61.0
spacy==2.2.0
seaborn==0.11.1
matplotlib==3.4.1